<!DOCTYPE html>
<html lang="en">
<head>
    <title>Plot a sin graph</title>
    <link rel="stylesheet"  href="/static/landing.css">
    <link rel='icon' href='../static/Images/favicon-16x16.png' type='image/x-icon'/ >
</head>
<body>
    <div>
    <h1>Plot your sine graph here!</h1>
    <form action="/plot" method="post" enctype = "multipart/form-data">
        <div>
            <label for="name">Amplitude</label>
            <input type="text" id="Amplitude" name="Amplitude">
        </div>
        <div>
            <label for="price">Frequency</label>
            <input type="text" id="Frequency" name="Frequency">
        </div>
        <div class="button">
            <button type="submit">Plot Graph!</button>
        </div>
    </form>
    </div>
</body>
</html>